# EditorConfig is awesome: https://EditorConfig.org
# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ files
[*.{cpp,h,c,hpp,cc}]
indent_style = tab
indent_size = 4

# CMake files
[CMakeLists.txt]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# JSON/YAML files
[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

